.dashboard-chat {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #fff;
  top: 130px;
  right: 0;
  height: calc(100% - 130px);
  z-index: 1;
  transform: translateX(400px);
  border-left: 1px solid rgba(107, 110, 112, 0.3);
  border-top: 1px solid rgba(107, 110, 112, 0.3);
  overflow: hidden;
  transition: transform .25s ease-in-out, top .25s ease-in-out, height .25s ease-in-out; }
  .dashboard-chat._expanded {
    height: calc(100% - 60px);
    top: 60px; }
  .dashboard-chat._visible {
    transform: translateX(0); }
  .dashboard-chat__list {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    border-top: 1px solid rgba(107, 110, 112, 0.3); }
  .dashboard-chat__close {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
    right: 10px;
    top: 10px; }
    .dashboard-chat__close svg {
      width: 20px;
      height: 20px; }
