@import 'styles/common/variables.scss';
@import 'styles/common/mixins.scss';

.add-player-or-team {
    position: relative;
    width: 60px;
    min-height: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid $black;
    background-color: $darkGrey;
    @include ctaHover();
    &:after,
    &:before {
        position: absolute;
        display: block;
        content: '';
        width: 4px;
        height: 30px;
        left: 50%;
        top: 50%;
        background-color: #fff;
        border-radius: 3px;
    }
    &:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    &:before {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}