@import 'styles/common/variables.scss';

.news {
    display: flex;
    background-color: #fff;
    padding: 20px;
    &:not(:last-child) {
        border-bottom: 1px solid $grey;
    }
    &__img {
        width: 120px;
        height: 120px;
        min-width: 120px;
        img {
            max-width: 100%;
        }
    }
    &__content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        margin-left: 20px;
        &-source {
            margin-bottom: 10px;
        }
        &-title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        &-info {
            display: flex;
            align-items: center;
            margin-top: auto;
            justify-content: space-between;
        }
    }
}