.news {
  display: flex;
  background-color: #fff;
  padding: 20px; }
  .news:not(:last-child) {
    border-bottom: 1px solid #6B6E70; }
  .news__img {
    width: 120px;
    height: 120px;
    min-width: 120px; }
    .news__img img {
      max-width: 100%; }
  .news__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-left: 20px; }
    .news__content-source {
      margin-bottom: 10px; }
    .news__content-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 5px; }
    .news__content-info {
      display: flex;
      align-items: center;
      margin-top: auto;
      justify-content: space-between; }
