.dashboard-news__content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  overflow: hidden; }
  .dashboard-news__content-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 70px;
    background-color: #fff;
    z-index: 2;
    transition: transform .25s;
    border-bottom: 1px solid rgba(107, 110, 112, 0.3); }
  .dashboard-news__content-filter {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .25s;
    border-bottom: 1px solid rgba(107, 110, 112, 0.3); }
  .dashboard-news__content-news {
    position: relative;
    max-width: 100%;
    top: 60px;
    transition: max-width .25s ease-in-out;
    z-index: 0; }
    ._sidebar-visible .dashboard-news__content-news {
      max-width: calc(100% - 400px); }
