.dashboard-header-filter {
  display: flex;
  flex-grow: 1; }
  .dashboard-header-filter__content {
    width: 100%;
    max-width: calc(100% - 400px); }
  .dashboard-header-filter__buttons {
    flex-grow: 1; }
