.filter-item {
  display: flex;
  align-items: center;
  background-color: rgba(107, 110, 112, 0.1);
  padding: 5px 10px;
  color: #222629;
  border-radius: 4px; }
  .filter-item__remove {
    margin-left: 5px; }
    .filter-item__remove svg {
      width: 10px;
      height: 10px; }
