@import 'styles/common/variables.scss';
@import 'styles/common/mixins.scss';

.team-or-player-button {
    width: 60px;
    min-height: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $black;
    @include ctaHover();
    background-color: $black;
}