@import 'styles/common/variables.scss';

.filter-button {
    svg {
        width: 22px;
        transition: fill .25s ease-in-out; 
        &:hover {
            fill: $darkGreen;
        }
    }
    &._active {
        svg {
            fill: $darkGreen;
        }
    }
}