.dashboard-layout {
  position: relative;
  min-height: 100vh;
  background-color: #fff; }
  .dashboard-layout__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    box-shadow: 3px 3px 15px 0 rgba(34, 38, 41, 0.3);
    background-color: #222629;
    z-index: 2; }
    .dashboard-layout__logo img {
      width: 60px; }
  .dashboard-layout__header {
    position: absolute;
    left: 100px;
    right: 0;
    top: 0;
    height: 100px;
    background-color: #222629;
    box-shadow: 0 3px 15px 0 rgba(34, 38, 41, 0.3);
    z-index: 1; }
  .dashboard-layout__sidebar {
    position: absolute;
    background-color: #222629;
    left: 0;
    top: 100px;
    width: 100px;
    height: calc(100vh - 100px);
    box-shadow: 3px 0 15px 0 rgba(34, 38, 41, 0.3);
    z-index: 1; }
  .dashboard-layout__content {
    position: absolute;
    left: 100px;
    top: 100px;
    right: 0;
    background-color: #6B6E70;
    min-height: calc(100vh - 100px);
    z-index: 0; }
    .dashboard-layout__content-header {
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 20px;
      width: 100%;
      height: 80px;
      background-color: #fff;
      box-shadow: 0 3px 15px 0 rgba(34, 38, 41, 0.3);
      z-index: 1; }
