@import 'styles/common/variables.scss';

.filter-list {
    height: 100%;
    overflow-y: auto;
    &__item {
        .setting-item {
            padding: 20px 10px;
            min-height: 40px;
        }
        &:hover {
            background-color: rgba($grey, .1);
        }
    }
}